@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";

@font-face {
  font-family: "Bootstrap Icons";
  src: url('~bootstrap-icons/font/fonts/bootstrap-icons.woff2') format('woff2'),
       url('~bootstrap-icons/font/fonts/bootstrap-icons.woff') format('woff');
}
.header {
  h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    .company-name {
        font-weight: bolder;
    }
  }
}

.container {
  padding: 10px 0px 10px 20px;
  background-color: #DEEFE7;
  margin: 10px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
